.professional-experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.professional-experience h3 {
  font-weight: 800;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.professional-experience .job-time {
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0;
}

.professional-experience .job-time::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/calendar-icon.svg);
}

.professional-experience ul {
  padding: 0;
}

.professional-experience li {
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
  margin-bottom: 0.25rem;
}
